<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.studyjams.s1.sj43.jiangjingwei"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_xibi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.FirstPickActivity">
        </activity>
        <activity android:name=".activity.AttentionActivity">
        </activity>
        <activity android:name=".activity.BuildTeamActivity">
        </activity>
        <activity android:name=".activity.PrimeStrategyActivity">
        </activity>
        <activity android:name=".activity.PrimeActivityChooseActivity">
        </activity>
        <activity android:name=".activity.FirstBlackRecommendationActivity">
        </activity>
        <activity android:name=".activity.WorthBuildCollectionActivity">
        </activity>
        <activity android:name=".activity.FeedTutorialsActivity">
        </activity>
        <activity android:name=".activity.ThanksActivity">
        </activity>
    </application>

</manifest>